In [2]:
import pandas as pd
import numpy as np

In [3]:
file_path = 'data/insurance.csv'
insurance_df = pd.read_csv(file_path)

In [4]:
insurance_df.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
insurance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   gender    1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
insurance_df.shape

(1338, 7)

In [7]:
insurance_df.dropna()

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [8]:
def bmi_category(bmi):
    if bmi < 18.5:
        return 'Underweight'
    elif 18.5 <= bmi < 24.9:
        return 'Normal weight'
    elif 25.0 <= bmi < 29.9:
        return 'overweight'
    else:
        return 'obesity'

def age_group(age):
    if age < 30: 
        return 'young'
    elif 30 <= age < 50:
        return 'middle-aged'
    else:
        'senior'

In [9]:
# user defined functions -> udf
insurance_df['bmi_category'] = insurance_df['bmi'].apply(bmi_category)
insurance_df['age_group'] = insurance_df['age'].apply(age_group)

In [10]:
# drop columns
# insurance_df = insurance_df.drop(columns = ['bmi_category'], axis=1)

In [11]:
insurance_df.head()

,age,gender,bmi,children,smoker,region,charges,bmi_category,age_group
0,19,female,27.900,0,yes,southwest,16884.92400,overweight,young
1,18,male,33.770,1,no,southeast,1725.55230,obesity,young
2,28,male,33.000,3,no,southeast,4449.46200,obesity,young
3,33,male,22.705,0,no,northwest,21984.47061,Normal weight,middle-aged
4,32,male,28.880,0,no,northwest,3866.85520,overweight,middle-aged

In [12]:
# outliers
outliers_df = insurance_df[insurance_df['charges'] > insurance_df['charges'].quantile(0.99)]

In [13]:
len(outliers_df)

14

In [14]:
insurance_df = insurance_df[insurance_df['charges'] <= insurance_df['charges'].quantile(0.99)]

In [15]:
insurance_df.shape

(1324, 9)

In [16]:
insurance_df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [17]:
insurance_df['region'].nunique()

4

In [18]:
type(insurance_df['region'].unique())

numpy.ndarray

In [19]:
# insurance_df.to_csv('data/cleaned_insurance_df.csv')

In [20]:
insurance_df.head()

,age,gender,bmi,children,smoker,region,charges,bmi_category,age_group
0,19,female,27.900,0,yes,southwest,16884.92400,overweight,young
1,18,male,33.770,1,no,southeast,1725.55230,obesity,young
2,28,male,33.000,3,no,southeast,4449.46200,obesity,young
3,33,male,22.705,0,no,northwest,21984.47061,Normal weight,middle-aged
4,32,male,28.880,0,no,northwest,3866.85520,overweight,middle-aged

In [21]:
import mysql.connector
from sqlalchemy import create_engine

db_config = {
    'user': 'root',
    'password': 'root',
    'host': 'localhost',
    'database': 'insurance_db',
    'port': '3306'
}

engine = create_engine(f"mysql+mysqlconnector://{db_config['user']}:{db_config['password']}@{db_config['host']}:{db_config['port']}/{db_config['database']}")

insurance_df.to_sql(name="insurance_customers", con = engine, if_exists='replace', index=False)

print("Data saved to MySQL succesfully")

Data saved to MySQL succesfully